<?xml version="1.0" encoding="UTF-8"?> 
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration debug="false">

	<!-- 输出日志到控制台 -->
	<appender name="Console" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss.SSS} %-5p %c [%t] %m%n" />
		</layout>
		<!--过滤器设置输出的级别 -->
		<filter class="org.apache.log4j.varia.LevelRangeFilter">
			<param name="levelMin" value="info" />
			<param name="levelMin" value="debug" />
			<param name="levelMax" value="error" />
			<param name="AcceptOnMatch" value="true" />
		</filter>
	</appender>

	<appender name="logfile" class="org.apache.log4j.RollingFileAppender">
		<param name="File" value="${catalina.home}/logs/application.log" />
		<param name="ImmediateFlush" value="true" />
		<param name="MaxFileSize" value="200MB" />
		<param name="MaxBackupIndex" value="50" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss.SSS} %-5p %c [%t] %m%n" />
		</layout>
		<filter class="org.apache.log4j.varia.LevelRangeFilter">
			<param name="LevelMin" value="info" />
			<param name="LevelMax" value="error" />
		</filter>
	</appender>

	<appender name="info" class="org.apache.log4j.RollingFileAppender">
		<param name="File" value="${catalina.home}/logs/info.log" />
		<param name="ImmediateFlush" value="true" />
		<param name="MaxFileSize" value="200MB" />
		<param name="MaxBackupIndex" value="50" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss.SSS} %-5p %c [%t] %m%n" />
		</layout>
		<filter class="org.apache.log4j.varia.LevelRangeFilter">
			<param name="LevelMin" value="info" />
			<param name="LevelMax" value="info" />
		</filter>
	</appender>

	<appender name="warn" class="org.apache.log4j.RollingFileAppender">
		<param name="File" value="${catalina.home}/logs/warn.log" />
		<param name="ImmediateFlush" value="true" />
		<param name="MaxFileSize" value="200MB" />
		<param name="MaxBackupIndex" value="50" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss.SSS} %-5p %c [%t] %m%n" />
		</layout>
		<filter class="org.apache.log4j.varia.LevelRangeFilter">
			<param name="LevelMin" value="warn" />
			<param name="LevelMax" value="warn" />
		</filter>
	</appender>

	<appender name="error" class="org.apache.log4j.RollingFileAppender">
		<param name="File" value="${catalina.home}/logs/error.log" />
		<param name="MaxFileSize" value="200MB" />
		<param name="MaxBackupIndex" value="50" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss.SSS} %-5p %c [%t] %m%n" />
		</layout>
		<filter class="org.apache.log4j.varia.LevelRangeFilter">
			<param name="LevelMax" value="ERROR" />
			<param name="LevelMin" value="ERROR" />
		</filter>
	</appender>

	<appender name="userFactoryAppender" class="org.apache.log4j.RollingFileAppender">
		<param name="File" value="${catalina.home}/logs/userFactory.log" />
		<param name="ImmediateFlush" value="true" />
		<param name="MaxFileSize" value="100MB" />
		<param name="MaxBackupIndex" value="10" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss.SSS} %-5p %c [%t] %m%n" />
		</layout>
	</appender>

	<appender name="resultAppender" class="org.apache.log4j.RollingFileAppender">
		<param name="File" value="${catalina.home}/logs/result.log" />
		<param name="ImmediateFlush" value="true" />
		<param name="MaxFileSize" value="100MB" />
		<param name="MaxBackupIndex" value="10" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss.SSS} %-5p %c [%t] %m%n" />
		</layout>
	</appender>

	<appender name="ASYNC" class="org.apache.log4j.AsyncAppender">
		<param name="BufferSize" value="100000" />
		<param name="blocking" value="true" />
		<appender-ref ref="logfile" />
		<appender-ref ref="info" />
		<appender-ref ref="warn" />
		<appender-ref ref="error" />
	</appender>

	<!-- 发ERROR邮件 -->
	<appender name="Mail" class="org.apache.log4j.net.SMTPAppender">
		<!-- 日子输出级别，只有ERROR以上时才会发送！ -->
		<param name="threshold" value="ERROR" />
		<!-- 缓存文件大小，日志达到512K时发送Email -->
		<param name="BufferSize" value="512" />
		<!-- 切换为自己的邮箱 begin-->
		<param name="SMTPHost" value="smtp.qq.com" />
		<param name="SMTPPort" value="587"/>
		<param name="Subject" value="Log4j message" />
		<param name="From" value="971115626@qq.com" />
		<param name="To" value="773995514@qq.com" />
		<param name="SMTPUsername" value="971115626@qq.com" />
		<param name="SMTPPassword" value="mcxyiipthqhjbfif" />
		<!-- 切换为自己的邮箱 end-->
		<param name="LocationInfo" value="false" />
		<param name="SMTPDebug" value="false" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%-d{yyyy-MM-dd HH:mm:ss.SSS} [%p]-[%c] %m%n" />
		</layout>
	</appender>

	<logger name="com.ibatis" additivity="true">
		<level value="DEBUG" />
		<appender-ref ref="Console" />
	</logger>
	<logger name="Java.sql.Connection" additivity="true">
		<level value="DEBUG" />
		<appender-ref ref="Console" />
	</logger>
	<logger name="java.sql.Statement" additivity="true">
		<level value="DEBUG" />
		<appender-ref ref="Console" />
	</logger>
	<logger name="java.sql.PreparedStatement" additivity="true">
		<level value="DEBUG" />
		<appender-ref ref="Console" />
	</logger>
	<logger name="java.sql.ResultSet" additivity="true">
		<level value="DEBUG" />
		<appender-ref ref="Console" />
	</logger>

	<root>
		<!-- 设置信息打印最低的日志级别 -->
		<priority value="info" />
		<appender-ref ref="Console" />
		<appender-ref ref="ASYNC" />
		<appender-ref ref="Mail" />
	</root>

</log4j:configuration>

